.container {
    display: flex;
    width: 95%;
    margin-top: 10px;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}

.todos {
    display: flex;
    width: 47.5%;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    background-color: #5fecbd;
}

.dragactive {
    background-color: aqua;
}


.dragcomplete {
    background-color: red;
}